package templates

templ UserPage() {
}

templ RegisterUser() {
	@Base() {
	}
}

templ LoginComponent() {
	<div>
		<h1>Login</h1>
		<form>
			<input placeholder="username" type="text" name="username"/>
			<input placeholder="senha" type="password" name="password"/>
			<button type="button" hx-post="/login" hx-ext="json-enc" hx-target="#body">login</button>
		</form>
	</div>
}

templ LogonComponent() {
	<div>
		<h1>Cadastre-se</h1>
		<p>
			Seus dados serão usados apenas para fazer uma simples analise. Prometo não vender nada. Se quiser conferir o código só acessar o projeto <a href="www.github.com/felipefbs/ick-app">aqui</a>.
		</p>
		<form>
			<input placeholder="username" type="text" name="username"/>
			<input placeholder="Seu Nome" type="text" name="name"/>
			<input placeholder="Data de Nascimento" type="date" name="birthdate"/>
			<input placeholder="Genero" type="text" name="gender"/>
			<input placeholder="senha" type="password" name="password"/>
			<input type="submit" hx-post="/register-user" hx-ext="json-enc"/>
		</form>
	</div>
}
